nav{
	padding-top: 2%;
}

.foto-home {
    height: 200px;
    -webkit-border-radius: 10% 50% / 50% 10%;
    -moz-border-radius: 10% 50% / 50% 10%;
    -ms-border-radius: 10% 50% / 50% 10%;
    -o-border-radius: 10% 50% / 50% 10%;
    border-radius: 10% 50% / 50% 10%;
}


.part1 p{
	margin-left: 2%;
	width: 30%;
}
.img{
	text-align: center;
}

.interest{
	padding: 3%;

}

.heart{
	width: 15%;
	padding-right: 5%;
}
.idiom{
	width: 15%;
	padding-right: 5%;
}

.education{
	width: 14%;
	padding-right: 5%;
}

.div-education{
	padding: 3%;
}

.div-education li{
	width: 100%;

}


ul.a{
	padding: 0 0 0 12%; 
	list-style-type: circle;
	text-decoration: none;

}

.img p {
	width: 80%;
	margin: auto;
	margin-top: 6%;
	padding-top: 6%;
	text-align: center;
}

.botao-resume{
	border: 1.5px solid black;
	margin: 3% 0 0 40%;
	text-align: center;
	color: black;
	display: block;
	height: auto;
	width: 25%;
	font-size: 20px;
}

.botao-resume:hover {
	color: pink;
	text-decoration: none;
}

.skills {
	text-align: center;
	font-size: 3em;
    width:100%;
    height:auto;
    background-image: url(../images/teste.jpeg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.skills h1{
	margin-top: 2%;
	font-size: .8em;
}

.skills h4{
	font-size:  .6em;
	margin-top: 4%;
}

.skills p{
	font-size:  .3em;
	margin-bottom: 2%;
}

ul.ul-skills {
	list-style-type: none;
	font-size: 22px;
	width: 30%;
	margin: auto; /*center position*/
	
}

.ul-skills li{
	display: inline;
	float: left;
	margin: 0 4% 3% 0;
	color: white;
	background-color: black;
	font-size: .8em;
	opacity: 0.5;
}

.ul-skills li:hover{
	background-color: white;
	color: black;
	opacity: 1;
}

.row2{
	width: 100%;
}
.form-area{
	text-align: center;
	width: 50%;
	margin-left: 25%;
}

.form-area h3{

}


.form-group{

}

footer{
	padding-top: 2%;
	margin-top: 2%;
	background-color: black;	
	width: 100%;
}

footer p {
	color: white;
	text-align: center;
}

.button{
	background-color: black !important;
	color: white;
	border: 1.5px solid black !important;
	display: block;
	width: 25% !important;
	font-size: 20px;
}

.button:hover {
	background-color: white !important;
	color: pink !important;
	
}

.social-networks{
	padding: 3% 0 1% 0;
	text-align: center;
	width: 100%;
	height: auto;
	margin-top: 2%;
}
ul.ul-social-networks  {
	list-style-type: none;
	padding-left: inherit;
	padding-top: 1%;
	width: auto;
	text-align: center;
}

.ul-social-networks li{
	list-style: none;
	display: inline;

}

ul-social-networks a:hover{
	background-color: pink;
}

hr {
      background-color: black;
      height: 3px;
      width: 10%;
      text-align: center;
      size: 20px;
    }


h3:after {
    content: ' ';
    display: block;
    border: 2px solid black;
    width: 100px;
    margin: 8px auto;

}