
.container-fluid{
	
	width: 80% !important;
	margin: 5% 20% 0 0;
	border: 1px solid black ;
}

.education{
	margin: 3% 0 3% 0;
	background-color: pink;
	padding-left: 3%;
	width: 100%;
}

.name{
	background-color: black;

}

.name h1{
	color: white;
	font-size: 5em;
}

.name h2{
	color: white;
	font-size: 3em;

}


 .name .row{
	color: white;
	padding: 3% 0 0 3%;
}

.row .skills{
	width: 70%;
	font-size: .9em;
}


.profissional p{
	font-size: .7em;

}


