body, td, th, p, ul {
	font:					8pt Verdana, Sans-Serif;
	}
a.titlelink:link, a.titlelink:active, a.titlelink:visited, a.titlelink:hover { 
	color:					#000000;
	font-weight:			bold;
	text-decoration:		none;
}
.source {
	xcolor:					#0086B3;
	color:					#000000;
	font-size:				1.0em;
}
a.source:link, a.source:active {
	xcolor:					#0086B3;
	color:					#0000cc;
	font-size:				1.0em;
}
a.source:visited, a.source:hover {
	xcolor:					#00B2EB;
	color:					#0000ff;
	font-size:				1.0em;
}

.cmcard {
	xcolor:					#aa0000;
	color:					#000000;
	font-size:				1.0em;
}
a.cmcard:link, a.cmcard:active {
	xcolor:					#cc0000;
	color:					#0000cc;
	font-size:				1.0em;
}
a.cmcard:visited, a.cmcard:hover {
	xcolor:					#cc0000;
	color:					#0000ff;
	font-size:				1.0em;
}

.giftcards {
	xcolor:					#8c4eac;
	color:					#000000;
	font-size:				1.0em;
}
a.giftcards:link, a.giftcards:active, a.giftcards:visited {
	xcolor:					#8c4eac;
	color:					#0000cc;
	font-size:				1.0em;
}
a.giftcards:hover {
	xcolor:					#3399ff;
	color:					#0000ff;
	font-size:				1.0em;
}
	
.note {
	color:					#000000;
	font-size:				0.7em;
}
	
	
	
	
td.header{
	background-color:		#FFFFFF;
	vertical-align:			bottom;
	}
	
td.footer{
	background-color:		#000066;
	font:					8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	}
td.selected{
	background-color:		#CC3333;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	}
td.securenote{
	background-color:		#CC3333;
	font:					8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	}
td.sidebar{
	background-color:		#FFFFFF;
	font:					8pt Verdana, Sans-Serif;
	}

/****************************************************/	
/*  Forms				 							*/	
/****************************************************/	
td.tableheader{
	background-color:		#000066;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	vertical-align:			bottom;
	}
td.tableheadercenter{
	background-color:		#000066;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	vertical-align:			middle;
	text-align:				center;
	}	
td.errorheader{
	background-color:		#CC3333;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	vertical-align:			bottom;
	}
td.errorlabel{
	background-color:		#CC3333;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	}
td.errorfield{
	background-color:		#CC3333;
	color:					#FFFFFF;
	}
td.label{
	background-color:		#CFDAE6;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#000000;
	text-align:				right;
	}
td.input{
	background-color:		#E6E6E6;
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	}
td.tip{
	background-color:		#CCCCCC;
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	vetical-align:			top;
	}
.note{
	font:					8pt Verdana, Sans-Serif;
	vetical-align:			top;
	}
.error{
	color:					#CC3333;
	font:					bold 9pt Verdana, Sans-Serif;
	}
.smallcaps{
	font-variant: 			small-caps; 
	}
td.buttonbg{
	background-color:		#000066;
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	text-align:				right;
	}
td.row1{
	background-color:		#CFDAE6;
	vertical-align:			top;
	}
td.row2{
	background-color:		#E6E6E6;
	vertical-align:			top;
	}
td.row1right{
	background-color:		#CFDAE6;
	text-align:				right;
	vertical-align:			top;
	}
td.row2right{
	background-color:		#E6E6E6;
	text-align:				right;
	vertical-align:			top;
	}
td.row2center{
	background-color:		#E6E6E6;
	text-align:				center;
	vertical-align:			middle;
	}
/****************************************************/	
input.button{
	font:	bold 11px Verdana;
	color:	#FFFFFF;
	background-color: #cc3333;
	border-width: 		1;
	border-top-color:	#FFE5CC;
	border-left-color:	#FFE5CC;
	border-bottom-color:#8B2222;
	border-right-color:	#8B2222;
	}
/****************************************************/	

h1{
	font:					14pt Verdana, Sans-Serif;
	}
h2{
	font:					10pt Verdana, Sans-Serif;
	margin-bottom:			5px;
	}
h3{
	font:					bold 8pt Verdana, Sans-Serif;
	}


a:link{
	color:					#003399;
	}
a:visited{
	color:					#990000;
	}
a:active{
	color:					#0000FF;
	}
a:hover{
	color:					#3399FF;
	}

.toplink{
	font:					8pt Verdana, Sans-Serif;
	}
a.sidebar:link{
	color:					#003399;
	}
a.sidebar:visited, a.sidebar:active{
	color:					#990000;
	}
a.sidebar:hover{
	color:					#3399FF;
	}

.breadcrumb{
	font:					8pt Verdana, Sans-Serif;
	}
a.breadcrumb:link{
	color:					#003399;
	}
a.breadcrumb:visited, a.breadcrumb:active{
	color:					#990000;
	}
a.breadcrumb:hover{
	color:					#3399FF;
	}

a.footer:link, a.footer:visited, a.footer:active{
	color:					#FFFFFF;
	}

a.tableheader:link, a.tableheader:visited, a.tableheader:active{
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#FFFFFF;
	text-decoration:		none;
	}
	
a.tableheader:hover{
	font:					bold 8pt Verdana, Sans-Serif;
	color:					#99ccff;
	text-decoration:		none;
	}
	

.interestfree
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:12pt;
	font-weight:normal;
	color: #ffffff;
	text-align:center;
}
.interestfree-black
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:12pt;
	font-weight:normal;
	color: #000000;
	text-align:center;
}
.interestfree_1	
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:10pt;
	font-weight:normal;
	color: #ffffff;
	text-align:center;
}
.interestfree-one-black
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:10pt;
	font-weight:normal;
	color: #000000;
	text-align:center;
}
.interestfreeconditions
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:8pt;
	font-weight:normal;
	color: #ffffff;
	text-align:justify;
}
.interestfreeconditions-black
{
	font-family: Helvetica, Arial, sans-serif;
	font-size:8pt;
	font-weight:normal;
	color: #000000;
	text-align:center;
}
p.text{
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	}
ul.text{
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	}
textarea{
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	}
input.CellText{
	font:					8pt Verdana, Sans-Serif;
	color:					#000000;
	}
A.Menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #eeeeee;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.Menu:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #eeeeee;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.Menu:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: underline
}
A.LeftMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.LeftMenu:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.LeftMenu:hover
{
    COLOR: #990000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
OL, LI {
	margin-top:5px;
	margin-bottom:5px;
}
