BODY
{
    FONT: 8pt Verdana, Sans-Serif
}
TD
{
    FONT: 8pt Verdana, Sans-Serif
}
TH
{
    FONT: 8pt Verdana, Sans-Serif
}
P
{
    FONT: 8pt Verdana, Sans-Serif
}
UL
{
    FONT: 8pt Verdana, Sans-Serif
}
A.titlelink:link
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.titlelink:active
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.titlelink:visited
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
A.titlelink:hover
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
.source
{
    FONT-SIZE: 1em;
    COLOR: #000000;
    xcolor: #0086B3
}
A.source:link
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #0086B3
}
A.source:active
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #0086B3
}
A.source:visited
{
    FONT-SIZE: 1em;
    COLOR: #0000ff;
    xcolor: #00B2EB
}
A.source:hover
{
    FONT-SIZE: 1em;
    COLOR: #0000ff;
    xcolor: #00B2EB
}
.cmcard
{
    FONT-SIZE: 1em;
    COLOR: #000000;
    xcolor: #aa0000
}
A.cmcard:link
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #cc0000
}
A.cmcard:active
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #cc0000
}
A.cmcard:visited
{
    FONT-SIZE: 1em;
    COLOR: #0000ff;
    xcolor: #cc0000
}
A.cmcard:hover
{
    FONT-SIZE: 1em;
    COLOR: #0000ff;
    xcolor: #cc0000
}
.giftcards
{
    FONT-SIZE: 1em;
    COLOR: #000000;
    xcolor: #8c4eac
}
A.giftcards:link
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #8c4eac
}
A.giftcards:active
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #8c4eac
}
A.giftcards:visited
{
    FONT-SIZE: 1em;
    COLOR: #0000cc;
    xcolor: #8c4eac
}
A.giftcards:hover
{
    FONT-SIZE: 1em;
    COLOR: #0000ff;
    xcolor: #3399ff
}
.note
{
    FONT-SIZE: 0.7em;
    COLOR: #000000
}
TD.header
{
    VERTICAL-ALIGN: bottom;
    BACKGROUND-COLOR: #000066
}
TD.footer
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000066
}
TD.selected
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc3333
}
TD.securenote
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc3333
}
TD.sidebar
{
    FONT: 8pt Verdana, Sans-Serif;
    BACKGROUND-COLOR: #ffffff
}
TD.tableheader
{
    FONT: bold 8pt Verdana, Sans-Serif;
    VERTICAL-ALIGN: bottom;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000066
}
TD.tableheadercenter
{
    FONT: bold 8pt Verdana, Sans-Serif;
    VERTICAL-ALIGN: middle;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000066;
    TEXT-ALIGN: center
}
TD.errorheader
{
    FONT: bold 8pt Verdana, Sans-Serif;
    VERTICAL-ALIGN: bottom;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc3333
}
TD.errorlabel
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc3333
}
TD.errorfield
{
    COLOR: #ffffff;
    BACKGROUND-COLOR: #cc3333
}
TD.label
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #000000;
    BACKGROUND-COLOR: #cfdae6;
    TEXT-ALIGN: right
}
TD.input
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000;
    BACKGROUND-COLOR: #e6e6e6
}
TD.tip
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000;
    BACKGROUND-COLOR: #cccccc;
    vetical-align: top
}
.note
{
    FONT: 8pt Verdana, Sans-Serif;
    vetical-align: top
}
.error
{
    FONT: bold 9pt Verdana, Sans-Serif;
    COLOR: #cc3333
}
.smallcaps
{
    FONT-VARIANT: small-caps
}
TD.buttonbg
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    BACKGROUND-COLOR: #000066;
    TEXT-ALIGN: right
}
TD.row1
{
    VERTICAL-ALIGN: top;
    BACKGROUND-COLOR: #cfdae6
}
TD.row2
{
    VERTICAL-ALIGN: top;
    BACKGROUND-COLOR: #e6e6e6
}
TD.row1right
{
    VERTICAL-ALIGN: top;
    BACKGROUND-COLOR: #cfdae6;
    TEXT-ALIGN: right
}
TD.row2right
{
    VERTICAL-ALIGN: top;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: right
}
TD.row2center
{
    VERTICAL-ALIGN: middle;
    BACKGROUND-COLOR: #e6e6e6;
    TEXT-ALIGN: center
}
INPUT.button
{
    BORDER-TOP-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-LEFT-COLOR: #ffe5cc;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-BOTTOM-COLOR: #8b2222;
    FONT: bold 11px Verdana;
    COLOR: #ffffff;
    BORDER-TOP-COLOR: #ffe5cc;
    BACKGROUND-COLOR: #cc3333;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-RIGHT-COLOR: #8b2222
}
H1
{
    FONT: 14pt Verdana, Sans-Serif
}
H2
{
    MARGIN-BOTTOM: 5px;
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: royalblue;
    BACKGROUND-COLOR: lightsteelblue
}
H3
{
    FONT: bold 8pt Verdana, Sans-Serif
}
A:link
{
    COLOR: #003399
}
A:visited
{
    COLOR: #990000
}
A:active
{
    COLOR: #0000ff
}
A:hover
{
    COLOR: #3399ff
}
.toplink
{
    FONT: 8pt Verdana, Sans-Serif
}
A.sidebar:link
{
    COLOR: #003399
}
A.sidebar:visited
{
    COLOR: #990000
}
A.sidebar:active
{
    COLOR: #990000
}
A.sidebar:hover
{
    COLOR: #3399ff
}
.breadcrumb
{
    FONT: 8pt Verdana, Sans-Serif
}
A.breadcrumb:link
{
    COLOR: #003399
}
A.breadcrumb:visited
{
    COLOR: #990000
}
A.breadcrumb:active
{
    COLOR: #990000
}
A.breadcrumb:hover
{
    COLOR: #3399ff
}
A.footer:link
{
    COLOR: #ffffff
}
A.footer:visited
{
    COLOR: #ffffff
}
A.footer:active
{
    COLOR: #ffffff
}
A.tableheader:link
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.tableheader:visited
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.tableheader:active
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #ffffff;
    TEXT-DECORATION: none
}
A.tableheader:hover
{
    FONT: bold 8pt Verdana, Sans-Serif;
    COLOR: #99ccff;
    TEXT-DECORATION: none
}
.interestfree
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    COLOR: #ffffff;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: center
}
.interestfree-black
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    COLOR: #000000;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: center
}
.interestfree_1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: center
}
.interestfree-one-black
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: center
}
.interestfreeconditions
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: justify
}
.interestfreeconditions-black
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Helvetica, Arial, sans-serif;
    TEXT-ALIGN: center
}
P.text
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000
}
UL.text
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000
}
TEXTAREA
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000
}
INPUT.CellText
{
    FONT: 8pt Verdana, Sans-Serif;
    COLOR: #000000
}
A.Menu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #eeeeee;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.Menu:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #eeeeee;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.Menu:hover
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: underline
}
A.LeftMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.LeftMenu:visited
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
A.LeftMenu:hover
{
    COLOR: #990000;
    FONT-FAMILY: Verdana, Sans-Serif;
    TEXT-DECORATION: none
}
LI
{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana
}

.frmbutton 
{   
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #4169E1; 
	background-color: #B0C4DE; 
	border-color: #404040;
}
	

